<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>391412575752-n1lupet2ih24bebs6q01urf5mdho9chn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391412575752-n1lupet2ih24bebs6q01urf5mdho9chn</string>
	<key>API_KEY</key>
	<string>AIzaSyA2uz0ZmJrZK7nRL3mkt7jWCqozzv_0ohA</string>
	<key>GCM_SENDER_ID</key>
	<string>391412575752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.closr.proto</string>
	<key>PROJECT_ID</key>
	<string>closr-flutter-app-227104</string>
	<key>STORAGE_BUCKET</key>
	<string>closr-flutter-app-227104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391412575752:ios:8fcc0b5ed4bd6715</string>
	<key>DATABASE_URL</key>
	<string>https://closr-flutter-app-227104.firebaseio.com</string>
</dict>
</plist>